@{
    Layout = "_LayoutDeslogado"; 
    ViewData["Title"] = "Página Restrita";
}

<p>Você Não Tem Permissão Para Acessar Essa Funcionalidade: <a asp-controller="Home", asp-action="Index">Voltar</a></p>