@model CarteiraDigital.Models.Pessoa

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome<img src="/imgs/LogoMulti.png" class="ml-3" alt="logo" width="65" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </li>
        @if (Model.Cargo == 1)
         {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pessoa" asp-action="Index">Clientes</a>
            </li>
         }
        else if (Model.Cargo == 2)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pessoa" asp-action="Cliente">Conta</a>
            </li>
        } 
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>
</div> 