@model CarteiraDigital.Models.Pessoa 

@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4 pt-3">Multi Digital Wallate</h1>
    <p>Ler mais <a href="https://docs.microsoft.com/aspnet/core" target="_blank">Construíndo Apps Online com ASP.NET Core</a>.</p>
    <img src="~/imgs/MultiFull.png" class="img-fluid" alt="Imagem" />
</div> 